.link {
	font-weight: 700;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	text-transform: uppercase;

	transition: all 250ms linear;

	display: flex;
	align-items: center;
	justify-content: center;
}

.link:hover,
.link:focus {
	color: var(--accent-color);
	background-color: var(--white-color);
	cursor: pointer;
}

.linkActive {
	font-weight: 700;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.02em;
	text-transform: uppercase;

	color: var(--accent-color);

	transition: all 250ms linear;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
}

.linkDiv {
	display: flex;
}

@media screen and (max-width: 767px) {
	.link {
		width: 50%;
		height: 53px;

		background: var(--bg-modal-two-colour);
	}

	.linkActive {
		width: 50%;
		height: 53px;
		color: var(--white-color);
		background: var(--accent-color);
	}

	.linkDiv {
		width: 100%;
		max-width: 480px;
		position: fixed;
		bottom: 0;
		transform: translateX(-50%);
		left: 50%;
	}
}

@media screen and (min-width: 768px) {
	.linkDiv {
		position: unset;
	}
	.link {
		width: 138px;
		height: 40px;

		background-color: var(--active-tab-bg-color);
		color: var(--zero-black-color);

		border-top-left-radius: 22px;
		border-top-right-radius: 22px;
	}
	.linkActive {
		width: 138px;
		height: 40px;

		background-color: var(--white-color);

		border-top-left-radius: 22px;
		border-top-right-radius: 22px;
	}
}

/* .table {
    width: 704px;
    height: 616px;
    margin-bottom: 40px;
    padding: 24px 40px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
    background-color: #ffffff;
} */

/* .wrapper {
    display: flex;
    align-items: baseline;
} */

/* .productsWrap {
    display: inline-flex;
    width: 480px;
    height: 44px;
    margin-left: 44px;
    text-align: center;
    align-items: center;
    border-radius: 16px 16px 16px 0px;
    border: 2px solid #f5f6fb;
    font-size: 12px;
    color: #c7ccdc;
} */

/* .ProductDescription {
    border: none;
    border-right: 2px solid #f5f6fb;
    width: 184px;
    padding-left: 20px;
} */
/* .select {
    border: none;
    width: 186px;
} */
/* 
.calculate {
    width: 80%;

    /* background-image: url(/src/Icons/calculator.svg); */

/* .input {
    width: 121px;
    height: 36px;
    background-image: url(/src/Icons/calculator.svg);
    background-repeat: no-repeat;
    background-position: center right 16px;
    font-weight: 700;
    text-align: center;
    border: none;
}

.btnWrap {
    margin-top: 32px;
    height: 44px;
    display: flex;
    justify-content: center;
}

.inputBtn,
.clearBtn {
    border-radius: 16px;
    border: none;
    width: 125px;
    color: #52555f;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}

.inputBtn:hover,
.clearBtn:hover {
    background: #ff751d;
    color: #ffffff;
}

.inputBtn {
    margin-right: 20px;
} */
