.reports {
	top: 12%;
	left: 38%;
	display: flex;
	justify-content: center;
	padding-top: 47px;

	color: rgba(82, 85, 95, 0.7);
	letter-spacing: 0.04em;
}

.icon {
	background-image: url(/src/Icons/reportsIcon.svg);
	width: 14px;
	height: 14px;
	margin-left: 20px;
}

@media screen and (min-width: 768px) {
	.reports {
		order: 1;
	}
}

@media screen and (min-width: 1279px) {
	.reports {
		margin-left: 50px;
	}
}

.section {
	height: 320px;
	background-color: var(--background-gray);
	border-bottom-left-radius: 110px;
}

.backToMainPage {
	width: 18px;
	height: 12px;
}

.currentPeriod {
	color: #52555fb2;
}

.statistics {
	display: flex;
	width: 280px;
	height: 85px;
	box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
	border-radius: 20px;
}
