@media screen and (min-width: 320px) {
	.mainPageContainer {
		min-width: 320px;
	}
}

@media screen and (min-width: 768px) {
	.mainPageContainer {
		min-width: 768px;
	}
}

@media screen and (min-width: 1280px) {
	.mainPageContainer {
		min-width: 1280px;
	}
}

.textContainer {
	position: relative;
	border-bottom-left-radius: 110px;
	height: 286px;
	background-color: #f5f6fb;
}

.mainTextWrap {
	width: 183px;
	height: 63px;
	position: absolute;
	z-index: 1;
	top: 120px;
	left: 25%;
	margin-left: -60px;
	background-image: url(/src/Icons/mainTextGroup.svg);
	background-repeat: no-repeat;
}

.modalContainer {
	position: relative;
	margin-left: auto; /*todo rewrite with 1 margin property*/
	margin-right: auto; /*todo rewrite with 1 margin property*/
	width: 280px;
}

.title {
	width: 377px;
	height: 120px;
	padding: 20px 1px 2px 3px;
	margin: 0; /*todo margin: 0, 0, 20px, 0 */
	margin-bottom: 20px; /*todo remove this due to above line */

	font-weight: 900;
	font-size: 102px;
	line-height: 120px;
}

.textWrap {
	position: absolute;

	left: 229px;
	top: 48px;
}

.backgroundImg {
	position: relative;
	height: 100%;

	/* todo combine with background property https://developer.mozilla.org/en-US/docs/Web/CSS/background */
	/* Please fix it everywhere */
	background-image: url(/src/Icons/kapustaGroup.svg);
	background-repeat: no-repeat;

	background-position-y: 10%;
	background-position-x: -24%;
}

.text {
	text-align: center;
	padding: 0;
	font-weight: 700;
	font-size: 1.19; /* what is it? */
	letter-spacing: 0.18em;
	text-transform: uppercase;
}

.footerIcon {
	width: 83px;
	height: 89px;
	position: absolute;
	left: 10px;
	top: 408px;
	background-image: url(/src/Icons/mobFooterImg.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
	.textContainer {
		height: 526px;
		position: relative;
	}

	.mainTextWrap {
		width: 307px;
		height: 101px;
		position: absolute;
		background-image: url(/src/Icons/mainTextTablet.svg);
	}

	.backgroundImg {
		background-position-x: unset;
	}

	.modalContainer {
		width: 426px;
	}

	.footerIcon {
		width: 183px;
		height: 142px;
		left: -17%;
		top: 214px;
		background-image: url(/src/Icons/tabletFooterImg.svg);
	}
}

@media screen and (min-width: 1280px) {
	.mainTextWrap {
		width: 377px;
		height: 139px;
		bottom: 80px;
		left: 23%;
		top: unset;
		background-image: url(/src/Icons/mainTextDesktop.svg);
	}

	.footerIcon {
		top: 76px;
		left: -50%;
	}
}

/* ----------------- Modal */
/* todo remove redundant comments, your code should explains everything, if not - it's bad code and should improve */
.modal {
	font-family: 'Roboto'; /* todo move to html and use this property once. PLease fix it everywhere. */
	/* If font-family don't work, you should to inherit it */
	font-size: 12px;
	color: var(--main-color);

	display: flex;
	position: absolute;
	top: -84px;
	flex-direction: column;
	align-items: center;
	padding: 40px 20px;

	background-color: #fff;
	border-radius: 30px;
	box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
}

.input {
	width: 100%;
	height: 52px;
	border-radius: 30px;
	margin-bottom: 32px;
	padding: 20px 17px;

	background-color: #f6f7fb;
	border: none;
}

.googleText {
	text-align: center;
	margin-bottom: 28px;
}

.googleBtn {
	width: 120px;
	height: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	border-radius: 26px;
	margin-bottom: 32px;
	border: none;
	color: var(--black);
	background-color: var(--background-gray);
}

.googleBtn:hover {
	background-color: var(--orange);
	cursor: pointer;
	color: #fff;
}

.googleBtnText {
	margin-left: 10px;

	font-family: 'Roboto';
	font-weight: 500;
}

.loginText {
	margin-bottom: 20px;
}

.btnWrapper {
	display: flex;
	justify-content: space-between;
}

.modalBtn {
	width: 116px;
	height: 44px;
	border-radius: 16px;
	border: none;
	color: inherit;
	font-weight: 700;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

.modalBtn login {
	margin-left: 8px;
}

.modalBtn:hover {
	background-color: var(--orange);
	cursor: pointer;
	color: #fff;
}

@media screen and (min-width: 768px) {
	.modal {
		width: 426px;
		padding: 56px 84px;
		top: -260px;
		z-index: 1;
	}
}

@media screen and (min-width: 1280px) {
	.modal {
		left: 331px;
		top: -408px;
	}
}
