.background {
	height: 286px;
	background-color: var(--background-gray);
	border-bottom-left-radius: 110px;
}

.balanceText {
	text-align: center;
	margin-top: 40px;
	font-weight: 500;
	color: rgba(82, 85, 95, 0.7);
}

.balanceContainer {
	width: 280px;
	height: 44px;
	margin: 8px auto 0px auto;
	display: flex;
	align-items: center;
}

.currentBalance {
	height: 100%;
	width: 100%;
	padding: 12px 8px;
	text-align: end;
	border: 2px solid #ffffff;
	border-radius: 22px 0px 0px 22px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
}

.balanceBtn {
	height: 100%;
	width: 100%;
	background-color: transparent;
	border: none;
	color: rgba(82, 85, 95, 0.7);
	border: 2px solid #ffffff;
	border-radius: 0px 22px 22px 0px;
	text-transform: uppercase;
	font-size: 14px;
}

.linkWrap {
	margin-bottom: 40px;
}
.navLink {
	text-decoration: none;
}

@media screen and (max-width: 767px) {
	.addExpensesLink {
		align-items: center;
		background-color: #f5f6fb;
		border: 2px solid #ffffff;
		border-radius: 22px;
		box-shadow: 2px 2px 5px 0 #d3d3d3;
		color: black;
		display: flex;
		font-size: 12px;
		font-weight: 700;
		height: 48px;
		justify-content: center;
		letter-spacing: 0.02em;
		line-height: 1.17;
		margin-left: auto;
		margin-right: auto;
		text-transform: uppercase;
		transition: all 0.25s linear;
		width: 158px;
		text-decoration: none;
	}

	.addExpensesLink:hover,
	.addExpensesLink:focus {
		background: var(--orange);
		color: #ffffff;
		transition: all 0.25s linear;
	}

	.balanceWrapper {
		margin-bottom: 32px;
	}
}

@media screen and (min-width: 768px) {
	.addExpensesLink {
		display: none;
	}

	.section {
		height: 900px;
		width: 768px;
		margin: 0 auto;
		background-position-y: bottom;
		background-repeat: no-repeat;
	}

	.wrap {
		margin-bottom: 60px;
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: space-between;
	}

	.balanceContainer {
		margin: 0;
	}

	.balanceText {
		margin: 0;
	}

	.background {
		padding: 0px 32px;
	}

	.balanceWrapper {
		display: flex;
		align-items: center;
		width: 334px;
	}

	.linkWrap {
		order: 1;
	}
}

@media screen and (min-width: 1279px) {
	.section {
		display: flex;
		justify-content: center;
		width: 1280px;
		background-image: url(../../Icons/deskFooterBgImg.svg);
		background-repeat: no-repeat;
	}

	.wrap {
		justify-content: center;
		margin-bottom: 8px;
	}
}
