.section {
	margin-bottom: 20px;
}

.categoriesTitle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.leftArrow {
	width: 6px;
	height: 12px;
	background-color: inherit;
	border: none;
	background-image: url(/src/Icons/leftArrow.svg);
	background-repeat: no-repeat;
}

.rightArrow {
	width: 6px;
	height: 12px;
	background-color: inherit;
	border: none;
	background-image: url(/src/Icons/rightArrow.svg);
	background-repeat: no-repeat;
}

.category {
	margin-left: 14px;
	margin-right: 14px;
	font-weight: 700;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
}
