.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
	padding: 12px 16px 12px 16px;
}

@media screen and(min-width: 1279px) {
	.header {
		width: 1190px;
		margin: 0 auto;
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #52555f;
}

.userNameIcon {
	width: 32px;
	height: 32px;
	background: #f5f6fa;
	border-radius: 50%;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logOut {
	margin-left: 20px;
	border: none;
	background: inherit;
	text-decoration-line: underline;
	cursor: pointer;
	color: #52555f;
}

.userName {
	padding: 0px 10px;
	margin-right: 10px;
	color: inherit;
}

.outline {
	height: 36px;
	border-right: 1px solid #e0e5eb;
}
