.table {
	width: 624px;
	height: 382px;
	margin-top: 48px;
	border-collapse: collapse;
	font-family: 'Roboto';
	font-size: 12px;
	border-radius: 20px 20px 0 0;
	border-spacing: 0;
}

.tableHead {
	width: 100%;
	height: 38px;
	background: #f5f6fb;

	text-transform: uppercase;
}

.tableRow {
	height: 40px;
	border-bottom: 2px solid #f5f6fb;
	border-left: 2px solid #f5f6fb;
	border-right: 4px solid #f5f6fb;
	text-align: center;
}

.table tr th:first-child {
	border-radius: 20px 0 0 0;
}

.table tr th:last-child {
	border-radius: 0 20px 0 0;
}
